# Dimensions vs metrics

We need an estimation for a question: what part of the fields are metrics?

In [2]:
import numpy as np
import pandas as pd

I'll try to calculate parte of the fields that are metrics based on the task given to me.

In [3]:
df = pd.read_csv('../data/Data_Dictionary_for_CSV_2022_10_10.csv')
display(df.head())
print(df.shape)

,data_source_title,report_type_title,field_title,sql_field_name,api_field_name
0,ACME,Transactions,Payment Status,payment_status,PaymentStatus
1,ACME,Transactions,Payment Method,payment_method,PaymentMethod
2,ACME,Transactions,Payment Due Date,payment_due_date,PaymentDueDate
3,ACME,Transactions,Parent Transaction Id,parent_transaction_id,ParentTransactionId
4,ACME,Transactions,OrderItem Type,orderitem_type,OrderItemType

(31095, 5)

In [4]:
# Let's see if there are any gaps in our date frame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31095 entries, 0 to 31094
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   data_source_title  31095 non-null  object
 1   report_type_title  31095 non-null  object
 2   field_title        31095 non-null  object
 3   sql_field_name     31095 non-null  object
 4   api_field_name     31095 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB

In [5]:
# How many unique values in columns.
df.describe()

,data_source_title,report_type_title,field_title,sql_field_name,api_field_name
count,31095,31095,31095,31095,31095
unique,179,948,9414,8830,9500
top,Facebook,All Fields,Clicks,campaign_id,???
freq,5171,1084,420,596,810

In [6]:
# As I noticed from the assignment, metrics, unlike dimensions, end with the letter 's'.
# Let's mark these words with units in a new column.
df['field_title_metrics_1'] = df['field_title'].apply(lambda x: 1 if x[-1]=='s' or x[-2:]=='ed' else 0)

In [15]:
# Estimated number of meters in the fields of the field title column.
df['field_title_metrics_1'].sum()

7892

In [8]:
# Converting everything to lowercase
df['field_title'] = df['field_title'].str.lower()

In [9]:
# Remove the fields with the word status from the field_title column
# because it is not a metric but ends with the letter s.
df1 = df[~df['field_title'].isin(['status'])]

In [10]:
# Number of metrics in a column field_title.
df1['field_title_metrics_1'].sum()

7834

In [14]:
# Let's calculate the percentage that shows which part of the fields are metrics.
metrics_perc = int((df1['field_title_metrics_1'].sum() / df['field_title'].count())*100)
print(metrics_perc)

25

Conclusions: around 25% of fields are metrics.